
.header .header__title-container{
    margin-top:40px;
}

.header .header__title-container .header__subtitle{
    top:32%;
}

.currency-exchange-tables__container{
    display:flex;
    width:930px;
    margin:0 auto;
    justify-content:center;
    overflow-x: initial;
}

.bitcoin--front{
    display:none;
}

.plans-cards__slider{
    padding-top:0;
}
.plans-cards__slider .card-container{
    height:auto;
}

.plans-cards__slider .plan-card{
    margin:0;
}

.scene .next-button--right {
	left: calc(50% + 400px);
}

.discover-it__detail{
    left:calc(50% - 80px);
    top:calc(50% - 250px);
}

.scene .car .car_face .product-card{
    height:200px;
}

.product-card .product-card__icon{
    width:38px;
    height:38px;
    margin-left:5px;
}

.product-card .product-card__title{
    font-size:var(--lg);
    font-weight:bold;
    margin: 10px 10px 0;
}

.product-card .product-card__body .product-card__content{
    font-size:1.8rem;
    line-height:2rem;
}
.product-card .product-card__body{
    margin: 16px 10px 0;
}

/* .product-cards__container{ */
/*     display:flex; */
/*     flex-wrap:wrap; */
/*     width:930px; */
/*     margin:0 auto; */
/* } */

.table-go-right{
    display:none;
}

.plans-cards__slider{
    padding-top:30px;
}

.plan-card{
    margin:20px 30px;
}
