.currency-exchange-tables__container{
    margin: 0 50px;    
}

/* .discover-it{ */
/*     height:400px; */
/* } */

.discover-it{
    margin:50px 0;
    margin-top:100px;
}

.discover-it__detail{
    position:absolute;
    left:calc(50% - 80px);
    top:calc(50% - 270px);
}
