/*
  Posicionamiento
  Modelo Caja
  Tipografia
  Visuales (shadow box border radius)
  Otros
*/

@keyframes bitcoin_x
{
    from {background-position-x: 0px;}
    to {background-position-x: -1440px;}
}

@keyframes bitcoin_y
{
    from {background-position-y: 0px;}
    to {background-position-y: -1152px;}
}

:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --secondary-black: #222229;
    /* --secondary-black:#333; */

    --grey: #747474;
    --secondary-grey: #bababa;
    
    --off-white: #faf8f7;
    --just-white: #fff;
   

    --sm:1.4rem;
    --md:1.6rem;
    --lg:2.4rem;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.header{
    position:relatve;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    min-width:320px;
    height: 33.4rem;    
    text-align:center;
    align-items:center;
    background-color:var(--secondary-black);
}

.header__logo{
    width:200px;
    height:50px;
    margin-top: 30px;
    /* align-self: center; */
}

.bitcoin__image{
    opacity:0.9;
}

.bitcoin--lay{
    float:left;
    width:52px;
    height:52px;
}

.bitcoin--rotated{
    float:right;
    width:58px;
    height:58px;

    transform: rotateZ(-60deg);
}

.bitcoin--front{
    width:32px;
    height:32px;
    left:calc(50% - 30px);
    top:7%;
}

.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;

    height:21.8rem;
    margin-top:20px;
}

.header__title-container .header__title{
    /* font-size:2.4rem; */
    font-size:var(--lg);
    font-weight: bold;
    line-height:2.6rem;
    color:var(--just-white);
    z-index:2;
}

.header__title-container .header__subtitle{
    padding:0 10px;
    top:17%;
    margin-top:25px;
    font-size:var(--sm);
    font-weight:500;
    line-height:1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button{
    position:absolute;
    left:calc(50% - 114.5px);
    top: 27rem;
    display:block;
    margin-top:35px;
    padding:15px;
    width:231px;
    height:5rem;
    font-size:var(--sm);
    font-weight:bold;
    text-decoration:none;
    color:var(--just-white);
    /* background-color: var(--off-white); */
    background-color:#222229;
    border:4px solid var(--bitcoin-orange);
    border-radius:5px;
    cursor:pointer;
    /* Shadows */
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    -webkit-box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    -moz-box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
}

.header__button .header__icon{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
    filter:invert(100%);
}

.main-container{
    width:100%;
    height: auto;
    /* background-color:var(--off-white); */
    background-color:#413e4a;
}

.currency-exchange{
    width:100%;
    height:auto;
    padding-top: 80px;
    padding-bottom:30px;
    text-align:center;
    background-color:#3b3a41;
    /* display:flex; */
    /* flex-direction:column; */
}

.currency-exchange__article{
    width:100%;
}

/* .background-img{ */
/*     width:200px; */
/*     height:200px; */
/*     margin: 0 auto; */
/*     margin-bottom: 50px; */
/*     background-image: url("./assets/img/bitcard_md.png"); */
/*     background-repeat: no-repeat; */
/*     background-size:cover; */
/*     background-position:center; */
/* } */

.bitcard{
    width:90%;
    min-width:288px;
    max-width:900px;
    margin:0 auto;
}

.bitcard__detail{
    width:100%;
    margin-bottom:20px;
    font-size:var(--lg);
    font-weight:bold;
    color:var(--just-white);
}

.bitcard__image{
    width:740px;
    max-width:100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.currency-exchange__content{
    width:90%;
    min-width:288px;
    max-width:900px;
    margin:0 auto;
}

.ethereum-logo{
    width:42px;
    height:63px;
}

.plan-card__header .stellar{
    width:288px;
    filter:invert(100%);
}


.card-container__img{
    width:90%;
}

.currency-exchange__content .currency-exchange__title{
    margin-bottom: 30px;
    font-size:var(--lg);
    font-weight:bold;
    font-height: 2.6rem;
    color: var(--just-white);
}

.currency-exchange__content .currency-exchange__detail{
    margin-bottom: 30px;
    font-size:var(--sm);
    font-weight:500;
    font-height: 1.6rem;
    color: var(--grey);
}


.currency-exchange-tables__container{
    display:flex;
    /* overflow-x:scroll; */
    overflow-x:auto;
    scroll-behavior:smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
    /* width:100%; */
    /* height: */
    /* margin-top:16px; */
}

.currency-exchange-table__container{
    scroll-snap-align: center;
    width:60%;
    min-width:320px;
    max-width:500px;
    height:300px;
    margin:0 auto;
    font-family: "Inter", sans-serif;
    text-align:left;
}

.currency-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    padding:20px 0px;
    
    text-align:center;
    color:var(--black);
    /* background-color:var(--just-white); */
    background-image:url("./assets/img/tile2.png");
    border-radius: 15px;

    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    scroll-snap-align: center;
}

.currency-exchange-table{
    position:relative;
    left:20px;
    width:80%;
    min-width:230px;
    max-width:300px;
    height:180px;
    margin: 0 auto;
}

.currency-exchange-table table{
    width:100%;
}

.currency-exchange-table .currency-exchange-table__title{
    margin-bottom: 16px;
    font-size:var(--md);
    font-weight:bold;
    line-height: 2.3rem;
}

.currency-exchange-table__title--blue{
    color:var(--secondary-blue);
}

.currency-exchange-table__title--red{
    color:var(--bitcoin-orange);
}

.currency-exchange-table__item{
    width: 50%;
    height: 39px;
    font-size:var(--md);
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--secondary-grey);
    background-color:var(--just-white);
}

.currency-exchange-table__item--left{
    margin-top:0;
    font-size:var(--md);
    font-weight:500;
    color:var(--secondary-grey);
}

.currency-exchange-table__item--right{
    margin-top:0;
    font-size:var(--sm);
    font-weight:normal;
    line-height:1.7rem;
    color:var(--grey);
}

.currency-exchange-table__chart--up{
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url("./assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;    
}

.currency-exchange-table__chart--down{
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url("./assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;    
}

.currency-exchange-table__date{
    width:70%;
    margin:0 auto;
    padding:5px;
    font-size:var(--sm);
    font-weight:500;
    text-align:center;
    color:var(--black);
    border-radius:5px;
}

.currency-exchange-table__date--red{
    background-color:var(--soft-orange);
}

.currency-exchange-table__date--blue{
    background-color:var(--secondary-blue);
}

.table-go-right{
    position:absolute;
    top:50%;
    width:15px;
    height:15px;
    background-image:url("./assets/icons/right-arrow.svg");
    right:10px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;    
}

.table-go-left{
    transform: rotateZ(180deg);
    left:-40px;
}

.product-detail{
    position:relative;
    width:100%;
    min-width: 320px;
    height:auto;
    padding: 20px 10px;
    /* background-color:#201e1c; */
    background-color:#323138;
    color:var(--just-white);
}

.product-detail__header{
    width:90%;
    min-width:288px;
    height:auto;
    text-align:center;
    margin:0 auto;
    margin-top: 30px;
}

.product-detail__title{
    font-size:var(--lg);
    font-weight:bold;
    line-height:2.6rem;
}

.product-detail__subtitle{
    margin-top:20px;
    font-size:var(--sm);
    font-weight:300;
    line-height:1rem;
    color:#808080;
}

.product-cards__container{
    /* width:80%; */
    /* display:flex; */
    /* flex-direction:column; */
    width:100%;
    height:auto;
    min-width:288px;
    margin-top:30px;
}

.product-card{
    width:90%;
    min-width:288px;
    max-width:400px;
    height: 150px;
    margin: 15px auto;
    padding:15px;
    background-image: radial-gradient(circle, #504f56, #4e4d54, #4c4b52, #4b4a51, #49484f, #47464d, #44434a, #424148, #3e3d44, #3a3940, #36353c, #323138);
    /* background-color:#56555d; */
    border:0;
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
    cursor:pointer;
}

.product-card__header{
    width:100%;
    height:auto;
}

.product-card__icon{
    display:inline-block;
    width:28px;
    height:28px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.product-card .product-card__icon--clock{
    background-image:url("./assets/icons/clock.svg");   
}

.product-card .product-card__icon--eye{
    background-image:url("./assets/icons/eye.svg");   
}

.product-card .product-card__icon--dollar{
    background-image:url("./assets/icons/dollar-sign.svg");   
}

.product-card .product-card__icon--check{
    background-image:url("./assets/icons/check-circle.svg");   
}

.product-card__title{
    font-size:var(--md);
    font-weight:bold;
    margin:6px auto;
}

.product-card__content{
    font-size:1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
    color: #f0eff8;
    text-shadow: 1px 1px 1px #000000
}

.discover-it{
    position:relative;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    height:auto;
    min-width:280px;
    max-width:1440px;
}


.discover-it__background{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    text-align:center;
    /* background-image:url("./assets/img/bitcoinbaby.png"); */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
    /* background-position:center; */
}

.discover-it__detail{
    /* position:absolute; */
    /* left:calc(50% - 80px); */
    /* top: calc(50% - 150px); */
    /* display:inline-block; */
    font-size:var(--lg);
    font-weight:bold;
    color:var(--just-white);
    margin-top:calc(50% - 140px);
}

.discover-it__img{
    width:100%;
    height:300px;
    object-fit:cover;
}

#bitcoin-animation{
    /* display:inline-block; */
    width:100%;
    max-width:288px;
    height:288px;
    background:url("./assets/img/bitcoin_animation.png")center;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

#bitcoin-animation:hover{
    animation: bitcoin_x 0.8s steps(5) infinite, bitcoin_y 3.2s steps(4) infinite;
}

.plans{
    width:100%;
    height:auto;

    background-color:#fff7ee;
}

.plans__content{
    width:90%;
    height:auto;
    margin: 0 auto;
    padding: 50px 0;
}

.plans__header{
    text-align:center;
}

.plans__title{
    font-size:var(--lg);
    font-weight:bold;
    font-height: 2.6rem;
    color:var(--black);
}

.plans__subtitle{
    margin:20px auto;
    font-size:var(--sm);
    font-weight:normal;
    font-height: 1.6rem;
    color:var(--grey);
}

.plans-cards__slider
{
    display:flex;
    height:316px;
    overflow-x:auto;
    overflow-y:hidden;
    overflow-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card-container{
    width: 100%;
    height:250px;
    min-width:190px;

    max-width:500px;
    border-radius: 15px;
    /* overflow:hidden; */

}
.card-container--small{
    width:200px;
    max-width:300px;
    margin: 50px 15px 0;
}

.plan-card--gold{
    background-image: radial-gradient(circle, #fbe68d, #e5c771, #cfaa56, #b98c3d, #a37025);    
}

.plan-card--silver{
     background-image: radial-gradient(circle, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}

.plan-card--copper{
    background-image: radial-gradient(circle, #fed8c3, #d9ad97, #b4836e, #905b48, #6c3526);
}

.plan-card{
    position:relative;
    width:100%;
    height:100%;
    padding:20px 0px;
    
    text-align:center;
    color:var(--black);
    /* background-color:var(--just-white); */
    background-image:url("./assets/img/tile2.png");
    border-radius: 15px;

    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    scroll-snap-align: center;
}
.plan-card__recommended{
    position:absolute;
    width:120px;
    height: 31px;
    padding:6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color:var(--bitcoin-orange);
    border-radius:8px;
    color:var(--just-white);
}


.plan-card__title{
    /* margin-top: 20px; */
    font-size:var(--md);
    font-weight:500;
    line-height:2.6rem;
    color:var(--just-white);
    background-color:#282727;
}

.plan-card__body{
    margin-top: 12px;
}

.plan-card__price span{
    font-size:var(--sm);
    /* vertical-align:text-top; */
    vertical-align:12px;
}

.plan-card__price{
    width:80px;
    margin:0 auto;
    padding: 2px;
    font-size:3rem;
    font-weight:bold;
    color:var(--just-white);
    background-color:#282827;
    border-radius:50%;
}

.plan-card__detail{
    margin-top:12px;
    font-size:var(--sm);
    font-weight:300;
    color:#f9f8ff;
    padding:0 10px;

}

.plan-card__detail--gold{
    background-color:#d1ad58;    
}

.plan-card__detail--silver{
    background-color:#5e5e5e;    
}

.plan-card__detail--copper{
    background-color:#a76957;
}

.plan-card__footer{
    width: 90%;
    margin: 0 auto;
}
.plan-card__button{
    width:100%;
    height:50px;
    margin-top:20px;
    font-size:var(--md);
    font-weight:bold;
    background-color:#101010;
    color:var(--off-white);
    border:2px solid var(--bitcoin-orange);
    border-radius:4px;
    cursor:pointer;

}

.plan-card__button--silver{
    border-color: #b5b5b5;
}

.plan-card__button--gold{
    border-color: #e6c872;;
}

.plan-card__button--copper{
    border-color: #c3947f;
}

.card-button__icon{
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url("./assets/icons/orange-right-arrow.svg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    vertical-align: middle;
}

.main-footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height:150px;
    padding-left: 10px;
    background-color:#ffa73e;
}

.main-footer__list{
    font-size:var(--md);
    font-weight:500;
    line-weight:1.8rem;
    list-style-type:none;
}

.main-footer__item{
    margin:15px 0;
}

.main-footer__item a{
    text-decoration: none;
    font-weight:bold;
    color:var(--just-white);
}

.main-footer__logo{
    width:100px;
    height:100px;
}

.scene{
    position:relative;
    width:320px;
    height:200px;
    margin: 0 auto;
    /* width: 1024px; */
    /* height: 512px; */
    perspective:1000px;
}

.car{
    width:100%;
    height:100%;
    position:absolute;
    transform-style: preserve-3d;
    transform: translateZ(-600px);
    transition: transform 2s;
}

.car_face{
    /* position:absolute; */
    /* width:1000px; */
    /* height:500px; */
    position:absolute;
    width:90%;
    height:90%;
    /* left:10px; */
    /* top:10px; */
    /* border:2px solid white; */
}

.car_face:nth-child(1){transform: rotateY(0deg) translateZ(160px);}
.car_face:nth-child(2){transform: rotateY(90deg) translateZ(160px);}
.car_face:nth-child(3){transform: rotateY(180deg) translateZ(160px);}
.car_face:nth-child(4){transform: rotateY(270deg) translateZ(160px);}


.next-button{
    position:absolute;
    z-index:1;
    left:  calc(50% + 110px);
    top: calc(50% - 15px);
    width:30px;
    height:30px;
    
    background-image:url("./assets/icons/right-arrow.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;

    filter:invert(100%);
}

.next-button--left{
    transform:rotateY(180deg);
    left:0;
}


/* @media (min-width:320px){ */
/*     .header__title-container .header__title{ */
/*         max-width:320px; */
/*     } */
/* } */
